{% extends "_layout.html" %}
{% block content %}
<div class="container">
    <!-- <div class="jumbotron" style="background-color: #01f7ff;"> -->
    <div class="jumbotron">
        <div class="container-fluid">
            <header class="masthead text-black text-center">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <h1 class="mb-5">UPLOAD  IMAGE</h1>
                        
                        <!-- <h1 class="mb-5"> {{tes}} </h1> -->

                    </div> 
                    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                        <!-- <h1 class="mb-5"> {{tes}} </h1> -->
                    </div>
                </div>
            </header>
        </div>
        
    </div>
</div>
{% endblock %}